main-title { font-size: 28px;color: royalblue; }
/* The main top-level header */
h1 + p .special {
  color: rgb(242, 242, 15);
  background-color: black;
  padding: 10px;
}

h2 {
  color: red;
}

/* This is color for the 3rd header */
h3 {
  color: red;
}

body { font-family: 'Roboto', sans-serif; color: #2c2c2c; background-color: #f9f9f9; line-height: 1.6; }
p {
  color: black;
}
table {
  border-collapse: collapse;
  border: 2px solid black;
}

th,
td {
  padding: 5px;
  border: 2px solid black;
}

